
body {
  font-family: "open sans", sans-serif;
  width: 80vw;  
  margin: auto;
  color:rgb(77, 102, 114);
    background: linear-gradient(110deg, #fdcd3b 60%, lightblue 60%);
    font-family: sans-serif;
    
}
h1 {
  font-size: 8rem;
  font-weight: 700;
  text-align: center;
  margin: 3rem;  
  
}

.container {
  display: inline;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  

}

figure{
  padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;  margin: 2rem;
  
  

  
}
figure a {
  display: inline-block;
	width: 200px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
  
}

figure img {
  max-height: auto;
  max-width: 15rem;
  object-fit: flex;  
  vertical-align: cover;
  border-radius: 10px 15px 0 0;
	transition: transform 0.4s;
}

 figure:hover{
  transform: translateY(-10px);
  
}

figure figcaption{
  position: absolute;
  height: 90px;
  left: 40px;
	width: 20rem;
	bottom: 40px;
background-color: #333;



}

figure figcaption a { 
  position: absolute;
	left: 0px;
	top: 30px;
  color: #06e719;
  text-decoration: none;
}
